body{
    background-color: #f0f0f0;
}

p{
    font-size: 20px;
    margin-bottom: 25px;
}

select, option{
    -webkit-appearance: none;
    appearance: none;
}

.divupdate{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.kutu{
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.baslik{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-weight: 550;
    font-style: italic;
    font-size: 16px;
}

.isim{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.radio{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.iletisim-formu{
    display: flex;
    flex-direction: column;
    width: 410px;
    gap: 15px;
}

.iletisim-formu input, .iletisim-formu textarea, select{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.iletisim-formu button{
    background-color: #457b9d;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.iletisim-formu button:hover{
    background-color: #345c75;
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.iletisim-formu button:active{
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
